<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065841467151-0fh6jp0hmb3lf6lndjbnk8u29ugaa1pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065841467151-0fh6jp0hmb3lf6lndjbnk8u29ugaa1pp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1065841467151-9vv7so808mrbd6k3f9im1eq0dmmp1rag.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIFFwprtOVdYd4dMbIC3K4yy5gztx7ydc</string>
	<key>GCM_SENDER_ID</key>
	<string>1065841467151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>sociolingo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>sociolingo-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065841467151:ios:9278a7041c4a389b0b687a</string>
	<key>DATABASE_URL</key>
	<string>https://sociolingo-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>